.homeSectionContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: max(400px, 90vh);

  background-size: cover;
  z-index: -2;
  background-image: url('../../../public/assets/bg-section-1.png');
  object-fit: cover;
  color: #fff;

  h1 {
    text-align: center;
    font-size: clamp(1rem, 5vw + 1rem, 3rem);
    line-height: 110%;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.79);

    b {
      color: var(--primary-color);
    }
  }

  p {
    line-height: 130%;
    text-align: center;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    margin: 2rem 0;
    z-index: 1;

    justify-content: center;
    align-items: center;
    gap: 2rem;

    img {
      width: min(250px, 40%);
      position: absolute;
      top: 2rem;
    }

    > div {
      display: flex;
      flex-direction: column;
      color: #fff;
      gap: 1rem;
      flex: 1;
      align-items: center;

      &:last-child {
        gap: 1.75rem;
        margin-top: 10vh;
        margin-bottom: -10vh;

        z-index: 20;
        button {
          z-index: 30;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .homeSectionContent {
    gap: 2rem;
    position: relative;
    main {
      div {
        aside {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .homeSectionContent {
    min-height: 80vh;
  }
}
