.ContainerCertificates {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 23, 36);
  padding: 4rem 2rem;

  header {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
    width: 100%;
    max-width: 1024px;

    img {
      transition: 0.6s all cubic-bezier(0.075, 0.82, 0.165, 1);
      &:hover {
        transform: skewY(7deg);
      }
      width: 150px;
    }

    margin-bottom: 2rem;
  }

  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(126px, 1fr));

    gap: 2.5rem;
    width: 100%;
    max-width: 1024px;
    align-items: center;
    justify-items: center;

    margin-bottom: 10rem;

    svg {
      transition: 0.6s all cubic-bezier(0.075, 0.82, 0.165, 1);
      &:hover {
        transform: skewY(7deg) scale(1.2);
      }
    }
  }

  h1 {
    color: rgb(243, 243, 243);
    margin-bottom: 5rem;
    text-align: center;
    font-size: clamp(1rem, 5vw + 1rem, 3rem);
    line-height: 110%;
    font-family: 'Montserrat', sans-serif;

    b {
      color: var(--primary-color);
    }
  }
}

.platform {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 300px;

  svg {
    transition: 0.6s all cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
      transform: skewY(7deg) scale(1.2);
    }
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 500px) {
  .ContainerCertificates {
    main {
      grid-template-columns: repeat(auto-fill, minmax(96px, 1fr));
    }

    header {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(126px, 1fr));
      align-items: center;
      justify-items: center;
      gap: 0.5rem;
      width: 100%;
      max-width: 1024px;

      img {
        transition: 0.6s all cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover {
          transform: skewY(7deg);
        }
        width: 80px;
      }

      margin-bottom: 2rem;
    }
  }

  .platform {
    width: 70%;

    svg {
      transform: scale(0.7);

      &:hover {
        transform: skewY(7deg) scale(1);
      }
    }
  }
}

@media (max-width: 320px) {
}
