.TestimonialContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  background-color: #fff;
  padding: 5rem 0rem;

  min-height: 100vh;

  h1 {
    font-size: clamp(1rem, 3.5vw + 1rem, 4rem);
    text-align: center;
  }

  main {
    display: grid;
    max-width: 1024px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

    justify-items: center;

    width: 100%;
  }

  > p {
    text-align: center;
    line-height: 200%;
    font-size: 1rem;
    width: max(300px, 70%);
    text-align: center;
  }
}

.TestimonialCardContainer {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #fff;
  border-radius: 1rem;
  width: min(300px, 90%);
  padding: 2rem 1rem;
  margin-top: 6rem;

  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);

  p {
    text-align: centers;
  }

  h3 {
    text-align: center;
  }

  header {
    position: relative;
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
  }
}
