.ContainerPowerBi {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;

  background-attachment: fixed;

  background-size: cover;
  z-index: -2;
  background-image: url('../../../public/assets/bg-power-bi.png');
  object-fit: cover;
  color: #fff;

  padding: 2rem 0;

  h1 {
    font-size: clamp(1rem, 2.5vw + 1rem, 3rem);
    line-height: 110%;
    margin-bottom: 1rem;
  }

  main {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > a {
      > button {
        visibility: hidden;
        opacity: 0;
        display: none;
      }
    }

    > div {
      flex: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;

      p {
        width: 80%;
        text-align: justify;
        font-size: 1rem;
        margin-bottom: 2rem;
      }

      margin-top: 2rem;

      aside {
        position: relative;
      }

      img {
        max-height: 60vh;
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .ContainerPowerBi {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .ContainerPowerBi {
    flex-direction: column;
    main {
      flex-direction: column;

      div {
        > button {
          visibility: hidden;
          opacity: 0;
          display: none;
        }
      }

      > a {
        > button {
          visibility: visible;
          opacity: 1;
          display: inline;
        }
      }
    }
  }
}

@media (max-width: 425px) {
}
